VITE_EMAILJS_SERVICE_ID=service_uqebimk
VITE_EMAILJS_TEMPLATE_ID=template_dhxwfcz
VITE_EMAILJS_PUBLIC_KEY=mZ309sTTJsW4TJads

# Credenciales del Administrador Django:
#DJANGO_ADMIN_USERNAME=admin
#DJANGO_ADMIN_PASSWORD=admin1234
#DJANGO_ADMIN_EMAIL=Patricioppaz2312@gmail.com