# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.vite/

# Variables de entorno
.env
.env.*
!.env.example
.env.example
# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
venv/
env/
backend/venv/
backend/env/

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db